# Unhealthiest Cities in America

### Business Problem
Staying healthy and fit has been the latest craze among many Americans thanks to many social media influencers promoting healthy eating and fitness routines but yet so many people still struggle to stay healthy. Why is this? Could the number of healthy grocery stores contribute to this problem? Or is it because many Americans cannot get adequate access to healthcare or fitness centers? To find out what's causing this problem, we look at the number of healthy grocery stores, healthcare and fitness centers of the healthiest cities in America and compare with the unhealthiest cities in America. If there are any correlation between the number of healthy grocery stores, healthcare and fitness centers with staying healthy and fit, we can make a good assumption as to why the city is ranked as one of the unhealthiest cities in America. This analysis aims to inform you with the factors that constitutes as one of the unhealthiest cities in America and potentially help you decide which city to move to that would be the most optimal to start your health journey.

### Data and Data Sources
In order to find out whether the number of access to healthy resources contributes to an unhealthier population, we need to look at some data. <a href="https://wallethub.com">WalletHub</a> has ranked 170 cities in America in their <a href="https://wallethub.com/edu/healthiest-cities/31072">Healthiest and Unhealthiest Cities in America</a> report. We will also be looking in to Foursquare API's venues data to find out how many healthy grocery stores, healthcare and fitness centers are available in each city.

In [1]:
# Import and download all necessary libraries for this notebook
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim

! pip install folium==0.5.0
import folium

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: folium==0.5.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (2.24.0)
Requirement already satisfied: jinja2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (2.11.2)
Requirement already satisfied: branca in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium==0.5.0) (0.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium==0.5.0) (2.9)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2->folium==0.5.0) (1.1.1)
Folium installed
Libraries imported.

#### Data from WalletHub
<hr>
Here, we will scrape 170 cities that were ranked from healthiest to the least healthiest cities in America from <a href="https://wallethub.com">WalletHub</a>'s report about <a href="https://wallethub.com/edu/healthiest-cities/31072">Healthiest and Unhealthiest Cities in America</a> article.

In [2]:
# Open url to scrape table data from website
url = "https://wallethub.com/edu/healthiest-cities/31072"
hdr = {'User-Agent':'Mozilla/5.0'}
req = Request(url, headers=hdr)
page = urlopen(req)
html = page.read().decode("utf-8")
soup = BeautifulSoup(html, "html.parser")

In [3]:
table = soup.find_all("table")[0]
print(table)

<table class="cardhub-edu-table center-aligned sortable" style="width: 680px;">
<thead>
<tr>
<th class="rank-numeric">
<p><b>Overall Rank*</b></p>
</th>
<th>
<p><b>City</b></p>
</th>
<th class="rank-numeric">
<p><b>Total Score</b></p>
</th>
<th class="rank-numeric">
<p><b>‘Health Care’ Rank</b></p>
</th>
<th class="rank-numeric">
<p><b>‘Food’ Rank</b></p>
</th>
<th class="rank-numeric">
<p><b>‘Fitness’ Rank</b></p>
</th>
<th class="rank-numeric">
<p><b>‘Green Space’ Rank</b></p>
</th>
</tr>
</thead>
<tbody><tr><td>1</td><td>San Francisco, CA</td><td>73.99</td><td>29</td><td>1</td><td>4</td><td>1</td></tr><tr><td>2</td><td>Seattle, WA</td><td>70.62</td><td>19</td><td>4</td><td>3</td><td>2</td></tr><tr><td>3</td><td>San Diego, CA</td><td>70.01</td><td>25</td><td>3</td><td>1</td><td>8</td></tr><tr><td>4</td><td>Portland, OR</td><td>65.66</td><td>61</td><td>6</td><td>16</td><td>3</td></tr><tr><td>5</td><td>Washington, DC</td><td>63.87</td><td>47</td><td>9</td><td>26</td><td>5</td></tr><tr><td>6</td><td>New York, NY</td><td>62.89</td><td>75</td><td>2</td><td>17</td><td>19</td></tr><tr><td>7</td><td>Denver, CO</td><td>62.10</td><td>51</td><td>15</td><td>5</td><td>16</td></tr><tr><td>8</td><td>Irvine, CA</td><td>62.08</td><td>2</td><td>27</td><td>11</td><td>12</td></tr><tr><td>9</td><td>Scottsdale, AZ</td><td>61.14</td><td>11</td><td>41</td><td>2</td><td>18</td></tr><tr><td>10</td><td>Chicago, IL</td><td>60.81</td><td>66</td><td>11</td><td>20</td><td>11</td></tr><tr><td>11</td><td>Austin, TX</td><td>60.70</td><td>40</td><td>16</td><td>15</td><td>13</td></tr><tr><td>12</td><td>Los Angeles, CA</td><td>60.48</td><td>72</td><td>5</td><td>9</td><td>38</td></tr><tr><td>13</td><td>Honolulu, HI</td><td>60.38</td><td>54</td><td>10</td><td>63</td><td>7</td></tr><tr><td>14</td><td>Huntington Beach, CA</td><td>60.13</td><td>8</td><td>37</td><td>7</td><td>26</td></tr><tr><td>15</td><td>Minneapolis, MN</td><td>59.95</td><td>5</td><td>24</td><td>60</td><td>9</td></tr><tr><td>16</td><td>Salt Lake City, UT</td><td>59.90</td><td>42</td><td>13</td><td>12</td><td>34</td></tr><tr><td>17</td><td>Burlington, VT</td><td>59.73</td><td>3</td><td>28</td><td>22</td><td>22</td></tr><tr><td>18</td><td>Fremont, CA</td><td>59.06</td><td>9</td><td>25</td><td>13</td><td>31</td></tr><tr><td>19</td><td>Boston, MA</td><td>58.83</td><td>45</td><td>18</td><td>23</td><td>17</td></tr><tr><td>20</td><td>San Jose, CA</td><td>58.51</td><td>15</td><td>7</td><td>21</td><td>58</td></tr><tr><td>21</td><td>Santa Clarita, CA</td><td>56.98</td><td>4</td><td>73</td><td>55</td><td>4</td></tr><tr><td>22</td><td>Atlanta, GA</td><td>56.74</td><td>89</td><td>22</td><td>6</td><td>35</td></tr><tr><td>23</td><td>Portland, ME</td><td>56.33</td><td>23</td><td>23</td><td>39</td><td>36</td></tr><tr><td>24</td><td>Glendale, CA</td><td>56.12</td><td>26</td><td>54</td><td>56</td><td>6</td></tr><tr><td>25</td><td>Virginia Beach, VA</td><td>55.29</td><td>7</td><td>75</td><td>32</td><td>29</td></tr><tr><td>26</td><td>Sacramento, CA</td><td>54.57</td><td>100</td><td>20</td><td>53</td><td>20</td></tr><tr><td>27</td><td>Long Beach, CA</td><td>54.48</td><td>30</td><td>31</td><td>47</td><td>32</td></tr><tr><td>28</td><td>Lincoln, NE</td><td>54.45</td><td>13</td><td>90</td><td>37</td><td>23</td></tr><tr><td>29</td><td>Orlando, FL</td><td>54.42</td><td>43</td><td>19</td><td>42</td><td>49</td></tr><tr><td>30</td><td>Madison, WI</td><td>54.06</td><td>12</td><td>70</td><td>45</td><td>33</td></tr><tr><td>31</td><td>Boise, ID</td><td>53.97</td><td>55</td><td>66</td><td>41</td><td>14</td></tr><tr><td>32</td><td>Philadelphia, PA</td><td>53.85</td><td>154</td><td>14</td><td>44</td><td>24</td></tr><tr><td>33</td><td>Tampa, FL</td><td>53.64</td><td>56</td><td>26</td><td>33</td><td>48</td></tr><tr><td>34</td><td>Miami, FL</td><td>53.59</td><td>73</td><td>8</td><td>62</td><td>70</td></tr><tr><td>35</td><td>Oakland, CA</td><td>53.48</td><td>65</td><td>12</td><td>65</td><td>57</td></tr><tr><td>36</td><td>Santa Rosa, CA</td><td>53.28</td><td>70</td><td>63</td><td>34</td><td>25</td></tr><tr><td>37</td><td>Oceanside, CA</td><td>53.24</td><td>49</td><td>68</td><td>8</td><td>113</td></tr><tr><td>38</td><td>Raleigh, NC</td><td>53.15</td><td>22</td><td>34</td><td>10</td><td>106</td></tr><tr><td>39</td><td>Pittsburgh, PA</td><td>53.06</td><td>48</td><td>21</td><td>48</td><td>59</td></tr><tr><td>40</td><td>Plano, TX</td><td>52.71</td><td>10</td><td>69</td><td>36</td><td>52</td></tr><tr><td>41</td><td>Peoria, AZ</td><td>52.59</td><td>21</td><td>106</td><td>57</td><td>10</td></tr><tr><td>42</td><td>Anaheim, CA</td><td>52.20</td><td>35</td><td>39</td><td>38</td><td>54</td></tr><tr><td>43</td><td>Richmond, VA</td><td>51.83</td><td>82</td><td>64</td><td>27</td><td>42</td></tr><tr><td>44</td><td>Tempe, AZ</td><td>51.36</td><td>46</td><td>52</td><td>46</td><td>68</td></tr><tr><td>45</td><td>Aurora, CO</td><td>51.07</td><td>36</td><td>78</td><td>28</td><td>67</td></tr><tr><td>46</td><td>Fort Lauderdale, FL</td><td>51.07</td><td>71</td><td>38</td><td>78</td><td>41</td></tr><tr><td>47</td><td>Chesapeake, VA</td><td>50.88</td><td>18</td><td>134</td><td>59</td><td>21</td></tr><tr><td>48</td><td>Rochester, NY</td><td>50.88</td><td>81</td><td>29</td><td>87</td><td>39</td></tr><tr><td>49</td><td>Rancho Cucamonga, CA</td><td>50.81</td><td>58</td><td>133</td><td>24</td><td>15</td></tr><tr><td>50</td><td>Phoenix, AZ</td><td>50.79</td><td>77</td><td>33</td><td>77</td><td>45</td></tr><tr><td>51</td><td>Las Vegas, NV</td><td>50.60</td><td>144</td><td>17</td><td>18</td><td>87</td></tr><tr><td>52</td><td>Vancouver, WA</td><td>50.50</td><td>79</td><td>84</td><td>14</td><td>116</td></tr><tr><td>53</td><td>Garden Grove, CA</td><td>50.29</td><td>41</td><td>53</td><td>70</td><td>78</td></tr><tr><td>54</td><td>St. Paul, MN</td><td>50.23</td><td>31</td><td>55</td><td>90</td><td>40</td></tr><tr><td>55</td><td>Nashua, NH</td><td>49.98</td><td>53</td><td>126</td><td>19</td><td>85</td></tr><tr><td>56</td><td>Overland Park, KS</td><td>49.85</td><td>1</td><td>72</td><td>101</td><td>132</td></tr><tr><td>57</td><td>Sioux Falls, SD</td><td>49.82</td><td>6</td><td>102</td><td>54</td><td>109</td></tr><tr><td>58</td><td>Yonkers, NY</td><td>49.76</td><td>34</td><td>43</td><td>102</td><td>69</td></tr><tr><td>59</td><td>Grand Rapids, MI</td><td>49.33</td><td>17</td><td>82</td><td>97</td><td>63</td></tr><tr><td>60</td><td>Chandler, AZ</td><td>49.25</td><td>27</td><td>57</td><td>29</td><td>126</td></tr><tr><td>61</td><td>Colorado Springs, CO</td><td>49.21</td><td>96</td><td>86</td><td>31</td><td>53</td></tr><tr><td>62</td><td>St. Louis, MO</td><td>49.14</td><td>109</td><td>46</td><td>40</td><td>60</td></tr><tr><td>63</td><td>Omaha, NE</td><td>49.10</td><td>39</td><td>61</td><td>49</td><td>83</td></tr><tr><td>64</td><td>Gilbert, AZ</td><td>49.04</td><td>20</td><td>94</td><td>30</td><td>92</td></tr><tr><td>65</td><td>Reno, NV</td><td>48.85</td><td>114</td><td>51</td><td>43</td><td>55</td></tr><tr><td>66</td><td>Durham, NC</td><td>48.60</td><td>16</td><td>77</td><td>66</td><td>101</td></tr><tr><td>67</td><td>Charleston, SC</td><td>48.52</td><td>24</td><td>101</td><td>94</td><td>46</td></tr><tr><td>68</td><td>Spokane, WA</td><td>48.28</td><td>117</td><td>56</td><td>73</td><td>50</td></tr><tr><td>69</td><td>Tacoma, WA</td><td>48.07</td><td>119</td><td>60</td><td>35</td><td>107</td></tr><tr><td>70</td><td>Charlotte, NC</td><td>48.01</td><td>62</td><td>49</td><td>64</td><td>89</td></tr><tr><td>71</td><td>Providence, RI</td><td>47.97</td><td>85</td><td>59</td><td>98</td><td>44</td></tr><tr><td>72</td><td>Manchester, NH</td><td>47.92</td><td>68</td><td>111</td><td>50</td><td>73</td></tr><tr><td>73</td><td>Fargo, ND</td><td>47.92</td><td>27</td><td>97</td><td>89</td><td>76</td></tr><tr><td>74</td><td>Tucson, AZ</td><td>47.90</td><td>93</td><td>47</td><td>58</td><td>77</td></tr><tr><td>75</td><td>Tallahassee, FL</td><td>47.72</td><td>33</td><td>114</td><td>118</td><td>30</td></tr><tr><td>76</td><td>Baltimore, MD</td><td>47.69</td><td>94</td><td>32</td><td>105</td><td>62</td></tr><tr><td>77</td><td>Chula Vista, CA</td><td>47.56</td><td>52</td><td>87</td><td>25</td><td>124</td></tr><tr><td>78</td><td>Missoula, MT</td><td>47.51</td><td>78</td><td>140</td><td>75</td><td>43</td></tr><tr><td>79</td><td>Albuquerque, NM</td><td>47.31</td><td>140</td><td>50</td><td>68</td><td>51</td></tr><tr><td>80</td><td>Cincinnati, OH</td><td>47.27</td><td>143</td><td>44</td><td>61</td><td>65</td></tr><tr><td>81</td><td>West Valley City, UT</td><td>46.94</td><td>102</td><td>30</td><td>83</td><td>157</td></tr><tr><td>82</td><td>Houston, TX</td><td>46.76</td><td>116</td><td>36</td><td>51</td><td>120</td></tr><tr><td>83</td><td>Nashville, TN</td><td>46.49</td><td>92</td><td>40</td><td>96</td><td>79</td></tr><tr><td>84</td><td>Pembroke Pines, FL</td><td>46.32</td><td>37</td><td>85</td><td>88</td><td>158</td></tr><tr><td>85</td><td>Glendale, AZ</td><td>46.15</td><td>83</td><td>98</td><td>80</td><td>56</td></tr><tr><td>86</td><td>Oxnard, CA</td><td>46.07</td><td>107</td><td>88</td><td>74</td><td>100</td></tr><tr><td>87</td><td>Cedar Rapids, IA</td><td>46.06</td><td>14</td><td>145</td><td>69</td><td>123</td></tr><tr><td>88</td><td>Bridgeport, CT</td><td>45.96</td><td>90</td><td>110</td><td>76</td><td>86</td></tr><tr><td>89</td><td>Jacksonville, FL</td><td>45.83</td><td>130</td><td>74</td><td>79</td><td>64</td></tr><tr><td>90</td><td>Buffalo, NY</td><td>45.79</td><td>59</td><td>76</td><td>112</td><td>72</td></tr><tr><td>91</td><td>St. Petersburg, FL</td><td>45.77</td><td>84</td><td>80</td><td>95</td><td>71</td></tr><tr><td>92</td><td>Dallas, TX</td><td>45.53</td><td>134</td><td>35</td><td>72</td><td>115</td></tr><tr><td>93</td><td>Wilmington, DE</td><td>45.50</td><td>103</td><td>92</td><td>139</td><td>27</td></tr><tr><td>94</td><td>Warwick, RI</td><td>45.50</td><td>63</td><td>83</td><td>106</td><td>127</td></tr><tr><td>95</td><td>Aurora, IL</td><td>45.39</td><td>32</td><td>103</td><td>111</td><td>97</td></tr><tr><td>96</td><td>Des Moines, IA</td><td>45.15</td><td>38</td><td>118</td><td>84</td><td>117</td></tr><tr><td>97</td><td>Santa Ana, CA</td><td>44.66</td><td>105</td><td>58</td><td>103</td><td>90</td></tr><tr><td>98</td><td>New Haven, CT</td><td>44.61</td><td>60</td><td>116</td><td>135</td><td>47</td></tr><tr><td>99</td><td>Worcester, MA</td><td>44.47</td><td>110</td><td>99</td><td>85</td><td>82</td></tr><tr><td>100</td><td>Billings, MT</td><td>44.30</td><td>57</td><td>112</td><td>124</td><td>102</td></tr><tr><td>101</td><td>Riverside, CA</td><td>44.15</td><td>87</td><td>107</td><td>67</td><td>110</td></tr><tr><td>102</td><td>Milwaukee, WI</td><td>44.09</td><td>91</td><td>67</td><td>117</td><td>96</td></tr><tr><td>103</td><td>San Antonio, TX</td><td>44.01</td><td>97</td><td>71</td><td>107</td><td>91</td></tr><tr><td>104</td><td>Mesa, AZ</td><td>43.91</td><td>74</td><td>79</td><td>71</td><td>152</td></tr><tr><td>105</td><td>Modesto, CA</td><td>43.72</td><td>148</td><td>113</td><td>82</td><td>66</td></tr><tr><td>106</td><td>Greensboro, NC</td><td>43.55</td><td>104</td><td>135</td><td>81</td><td>74</td></tr><tr><td>107</td><td>Jersey City, NJ</td><td>43.54</td><td>80</td><td>45</td><td>141</td><td>111</td></tr><tr><td>108</td><td>Rapid City, SD</td><td>42.85</td><td>67</td><td>125</td><td>123</td><td>103</td></tr><tr><td>109</td><td>Columbia, SC</td><td>42.56</td><td>50</td><td>115</td><td>130</td><td>150</td></tr><tr><td>110</td><td>Anchorage, AK</td><td>42.32</td><td>155</td><td>117</td><td>125</td><td>37</td></tr><tr><td>111</td><td>New Orleans, LA</td><td>42.24</td><td>172</td><td>123</td><td>129</td><td>28</td></tr><tr><td>112</td><td>Henderson, NV</td><td>42.24</td><td>129</td><td>127</td><td>52</td><td>118</td></tr><tr><td>113</td><td>Knoxville, TN</td><td>42.22</td><td>127</td><td>119</td><td>119</td><td>61</td></tr><tr><td>114</td><td>Fresno, CA</td><td>41.84</td><td>137</td><td>48</td><td>104</td><td>134</td></tr><tr><td>115</td><td>Salem, OR</td><td>41.70</td><td>111</td><td>100</td><td>136</td><td>81</td></tr><tr><td>116</td><td>Springfield, MO</td><td>41.24</td><td>131</td><td>137</td><td>115</td><td>75</td></tr><tr><td>117</td><td>Fort Worth, TX</td><td>41.23</td><td>120</td><td>95</td><td>100</td><td>136</td></tr><tr><td>118</td><td>Columbus, OH</td><td>41.03</td><td>121</td><td>81</td><td>142</td><td>104</td></tr><tr><td>119</td><td>Kansas City, MO</td><td>40.93</td><td>112</td><td>91</td><td>143</td><td>99</td></tr><tr><td>120</td><td>Indianapolis, IN</td><td>40.62</td><td>169</td><td>93</td><td>110</td><td>88</td></tr><tr><td>121</td><td>Fontana, CA</td><td>40.55</td><td>118</td><td>139</td><td>99</td><td>133</td></tr><tr><td>122</td><td>Norfolk, VA</td><td>40.46</td><td>88</td><td>128</td><td>138</td><td>84</td></tr><tr><td>123</td><td>Cheyenne, WY</td><td>40.32</td><td>64</td><td>163</td><td>113</td><td>167</td></tr><tr><td>124</td><td>Ontario, CA</td><td>40.31</td><td>125</td><td>131</td><td>91</td><td>154</td></tr><tr><td>125</td><td>Little Rock, AR</td><td>40.28</td><td>69</td><td>159</td><td>126</td><td>80</td></tr><tr><td>126</td><td>Lexington-Fayette, KY</td><td>40.22</td><td>44</td><td>96</td><td>154</td><td>145</td></tr><tr><td>127</td><td>Newport News, VA</td><td>40.12</td><td>76</td><td>141</td><td>144</td><td>93</td></tr><tr><td>128</td><td>Louisville, KY</td><td>40.06</td><td>136</td><td>65</td><td>140</td><td>129</td></tr><tr><td>129</td><td>El Paso, TX</td><td>40.01</td><td>128</td><td>108</td><td>132</td><td>108</td></tr><tr><td>130</td><td>Nampa, ID</td><td>39.95</td><td>156</td><td>104</td><td>86</td><td>163</td></tr><tr><td>131</td><td>Moreno Valley, CA</td><td>39.72</td><td>106</td><td>146</td><td>121</td><td>114</td></tr><tr><td>132</td><td>Cleveland, OH</td><td>39.62</td><td>159</td><td>42</td><td>161</td><td>95</td></tr><tr><td>133</td><td>Port St. Lucie, FL</td><td>39.59</td><td>126</td><td>121</td><td>92</td><td>169</td></tr><tr><td>134</td><td>Charleston, WV</td><td>39.36</td><td>101</td><td>152</td><td>133</td><td>98</td></tr><tr><td>135</td><td>Arlington, TX</td><td>38.69</td><td>98</td><td>132</td><td>127</td><td>143</td></tr><tr><td>136</td><td>Irving, TX</td><td>38.10</td><td>149</td><td>122</td><td>109</td><td>149</td></tr><tr><td>137</td><td>Grand Prairie, TX</td><td>37.95</td><td>122</td><td>130</td><td>153</td><td>130</td></tr><tr><td>138</td><td>Huntsville, AL</td><td>37.92</td><td>113</td><td>153</td><td>150</td><td>112</td></tr><tr><td>139</td><td>Fort Wayne, IN</td><td>37.85</td><td>142</td><td>149</td><td>108</td><td>125</td></tr><tr><td>140</td><td>Las Cruces, NM</td><td>37.62</td><td>86</td><td>168</td><td>114</td><td>164</td></tr><tr><td>141</td><td>Garland, TX</td><td>37.30</td><td>153</td><td>120</td><td>128</td><td>141</td></tr><tr><td>142</td><td>Oklahoma City, OK</td><td>37.20</td><td>115</td><td>109</td><td>157</td><td>142</td></tr><tr><td>143</td><td>Tulsa, OK</td><td>37.08</td><td>108</td><td>143</td><td>147</td><td>128</td></tr><tr><td>144</td><td>Cape Coral, FL</td><td>37.01</td><td>123</td><td>160</td><td>120</td><td>159</td></tr><tr><td>145</td><td>Birmingham, AL</td><td>36.87</td><td>132</td><td>144</td><td>137</td><td>140</td></tr><tr><td>146</td><td>Hialeah, FL</td><td>36.79</td><td>124</td><td>62</td><td>158</td><td>166</td></tr><tr><td>147</td><td>Akron, OH</td><td>36.77</td><td>141</td><td>142</td><td>151</td><td>121</td></tr><tr><td>148</td><td>Chattanooga, TN</td><td>36.73</td><td>135</td><td>165</td><td>122</td><td>135</td></tr><tr><td>149</td><td>Bakersfield, CA</td><td>36.57</td><td>163</td><td>105</td><td>146</td><td>137</td></tr><tr><td>150</td><td>San Bernardino, CA</td><td>36.00</td><td>167</td><td>138</td><td>145</td><td>119</td></tr><tr><td>151</td><td>Stockton, CA</td><td>35.97</td><td>147</td><td>124</td><td>148</td><td>148</td></tr><tr><td>152</td><td>Winston-Salem, NC</td><td>35.42</td><td>139</td><td>169</td><td>93</td><td>147</td></tr><tr><td>153</td><td>Wichita, KS</td><td>35.28</td><td>152</td><td>147</td><td>134</td><td>144</td></tr><tr><td>154</td><td>Newark, NJ</td><td>35.02</td><td>164</td><td>89</td><td>162</td><td>153</td></tr><tr><td>155</td><td>Amarillo, TX</td><td>34.89</td><td>162</td><td>161</td><td>152</td><td>122</td></tr><tr><td>156</td><td>Fayetteville, NC</td><td>34.73</td><td>133</td><td>162</td><td>131</td><td>168</td></tr><tr><td>157</td><td>Lubbock, TX</td><td>34.45</td><td>157</td><td>167</td><td>116</td><td>139</td></tr><tr><td>158</td><td>Columbus, GA</td><td>34.32</td><td>138</td><td>157</td><td>166</td><td>94</td></tr><tr><td>159</td><td>Jackson, MS</td><td>33.78</td><td>99</td><td>164</td><td>149</td><td>171</td></tr><tr><td>160</td><td>Baton Rouge, LA</td><td>32.98</td><td>168</td><td>154</td><td>156</td><td>138</td></tr><tr><td>161</td><td>North Las Vegas, NV</td><td>32.83</td><td>173</td><td>156</td><td>164</td><td>105</td></tr><tr><td>162</td><td>Toledo, OH</td><td>32.48</td><td>145</td><td>136</td><td>163</td><td>161</td></tr><tr><td>163</td><td>Corpus Christi, TX</td><td>32.47</td><td>146</td><td>151</td><td>170</td><td>146</td></tr><tr><td>164</td><td>Mobile, AL</td><td>32.15</td><td>161</td><td>158</td><td>155</td><td>170</td></tr><tr><td>165</td><td>Detroit, MI</td><td>32.01</td><td>170</td><td>129</td><td>165</td><td>151</td></tr><tr><td>166</td><td>Fort Smith, AR</td><td>31.90</td><td>150</td><td>150</td><td>168</td><td>162</td></tr><tr><td>167</td><td>Augusta, GA</td><td>31.37</td><td>95</td><td>166</td><td>159</td><td>172</td></tr><tr><td>168</td><td>Huntington, WV</td><td>30.17</td><td>158</td><td>148</td><td>172</td><td>131</td></tr><tr><td>169</td><td>Montgomery, AL</td><td>29.78</td><td>160</td><td>173</td><td>160</td><td>155</td></tr><tr><td>170</td><td>Memphis, TN</td><td>29.64</td><td>166</td><td>155</td><td>169</td><td>160</td></tr><tr><td>171</td><td>Shreveport, LA</td><td>27.42</td><td>165</td><td>171</td><td>171</td><td>165</td></tr><tr><td>172</td><td>Gulfport, MS</td><td>24.82</td><td>171</td><td>172</td><td>167</td><td>174</td></tr><tr><td>173</td><td>Laredo, TX</td><td>24.06</td><td>151</td><td>170</td><td>174</td><td>156</td></tr><tr><td>174</td><td>Brownsville, TX</td><td>21.41</td><td>174</td><td>174</td><td>173</td><td>173</td></tr></tbody>
</table>

In [4]:
# Put scraped data into pandas dataframe
num_rows = 0
column_names = []

# count numbers of rows in table
for row in table.find_all('tr'):
    num_td = row.find_all('td')
    if len(num_td) > 0:
        num_rows += 1

# get headers of the table
num_th = table.find_all('th')
if len(num_th) > 0:
    for th in num_th:
        column_names.append(th.get_text(strip=True))
    
# create pandas dataframe with header names and include all rows in the table
df = pd.DataFrame(columns=column_names,index=range(0,num_rows))

row_position = 0
for row in table.find_all('tr'):
    column_position = 0
    columns = row.find_all('td')
    for column in columns:
        df.iat[row_position,column_position] = column.get_text(strip=True)
        column_position += 1
    if len(columns) > 0:
        row_position += 1

df

,Overall Rank*,City,Total Score,‘Health Care’ Rank,‘Food’ Rank,‘Fitness’ Rank,‘Green Space’ Rank
0,1,"San Francisco, CA",73.99,29,1,4,1
1,2,"Seattle, WA",70.62,19,4,3,2
2,3,"San Diego, CA",70.01,25,3,1,8
3,4,"Portland, OR",65.66,61,6,16,3
4,5,"Washington, DC",63.87,47,9,26,5
...,...,...,...,...,...,...,...
169,170,"Memphis, TN",29.64,166,155,169,160
170,171,"Shreveport, LA",27.42,165,171,171,165
171,172,"Gulfport, MS",24.82,171,172,167,174
172,173,"Laredo, TX",24.06,151,170,174,156
173,174,"Brownsville, TX",21.41,174,174,173,173

In [5]:
# Clean the data by removing columns that are unnecessary for this analysis
df.columns = df.columns.str.replace('‘','').str.replace('’', '')
df.drop(['Overall Rank*', 'Total Score', 'Health Care Rank', 'Food Rank', 'Fitness Rank', 'Green Space Rank'], axis=1, inplace=True)
df

                  City
0    San Francisco, CA
1          Seattle, WA
2        San Diego, CA
3         Portland, OR
4       Washington, DC
..                 ...
169        Memphis, TN
170     Shreveport, LA
171       Gulfport, MS
172         Laredo, TX
173    Brownsville, TX

[174 rows x 1 columns]

In [6]:
# Find latitude and longitude of all the ranked cities and append to the dataframe
latitude = []
longitude = []

for address in df['City']:
    geolocator = Nominatim(user_agent="city_explorer")
    location = geolocator.geocode(address)
    latitude.append(location.latitude)
    longitude.append(location.longitude)

df['Latitude'] = latitude
df['Longitude'] = longitude
df

                  City   Latitude   Longitude
0    San Francisco, CA  37.779026 -122.419906
1          Seattle, WA  47.603832 -122.330062
2        San Diego, CA  32.717420 -117.162773
3         Portland, OR  45.520247 -122.674195
4       Washington, DC  38.894992  -77.036558
..                 ...        ...         ...
169        Memphis, TN  35.149022  -90.051629
170     Shreveport, LA  32.522183  -93.765194
171       Gulfport, MS  30.367420  -89.092816
172         Laredo, TX  27.519984  -99.495376
173    Brownsville, TX  25.914026  -97.489086

[174 rows x 3 columns]

#### Data from Foursquare API
<hr>
Here, we will be retrieving venue data for all ranked cities from Foursquare API.

In [7]:
# The code was removed by Watson Studio for sharing.

In [8]:
# Define function to retrieve nearby venues for all ranked cities
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['City', 
                  'City Latitude', 
                  'City Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
df_venues = getNearbyVenues(names=df['City'],latitudes=df['Latitude'],longitudes=df['Longitude'])

San Francisco, CA
Seattle, WA
San Diego, CA
Portland, OR
Washington, DC
New York, NY
Denver, CO
Irvine, CA
Scottsdale, AZ
Chicago, IL
Austin, TX
Los Angeles, CA
Honolulu, HI
Huntington Beach, CA
Minneapolis, MN
Salt Lake City, UT
Burlington, VT
Fremont, CA
Boston, MA
San Jose, CA
Santa Clarita, CA
Atlanta, GA
Portland, ME
Glendale, CA
Virginia Beach, VA
Sacramento, CA
Long Beach, CA
Lincoln, NE
Orlando, FL
Madison, WI
Boise, ID
Philadelphia, PA
Tampa, FL
Miami, FL
Oakland, CA
Santa Rosa, CA
Oceanside, CA
Raleigh, NC
Pittsburgh, PA
Plano, TX
Peoria, AZ
Anaheim, CA
Richmond, VA
Tempe, AZ
Aurora, CO
Fort Lauderdale, FL
Chesapeake, VA
Rochester, NY
Rancho Cucamonga, CA
Phoenix, AZ
Las Vegas, NV
Vancouver, WA
Garden Grove, CA
St. Paul, MN
Nashua, NH
Overland Park, KS
Sioux Falls, SD
Yonkers, NY
Grand Rapids, MI
Chandler, AZ
Colorado Springs, CO
St. Louis, MO
Omaha, NE
Gilbert, AZ
Reno, NV
Durham, NC
Charleston, SC
Spokane, WA
Tacoma, WA
Charlotte, NC
Providence, RI
Manchester, NH
Fargo, ND
Tucson, AZ
Tallahassee, FL
Baltimore, MD
Chula Vista, CA
Missoula, MT
Albuquerque, NM
Cincinnati, OH
West Valley City, UT
Houston, TX
Nashville, TN
Pembroke Pines, FL
Glendale, AZ
Oxnard, CA
Cedar Rapids, IA
Bridgeport, CT
Jacksonville, FL
Buffalo, NY
St. Petersburg, FL
Dallas, TX
Wilmington, DE
Warwick, RI
Aurora, IL
Des Moines, IA
Santa Ana, CA
New Haven, CT
Worcester, MA
Billings, MT
Riverside, CA
Milwaukee, WI
San Antonio, TX
Mesa, AZ
Modesto, CA
Greensboro, NC
Jersey City, NJ
Rapid City, SD
Columbia, SC
Anchorage, AK
New Orleans, LA
Henderson, NV
Knoxville, TN
Fresno, CA
Salem, OR
Springfield, MO
Fort Worth, TX
Columbus, OH
Kansas City, MO
Indianapolis, IN
Fontana, CA
Norfolk, VA
Cheyenne, WY
Ontario, CA
Little Rock, AR
Lexington-Fayette, KY
Newport News, VA
Louisville, KY

In [ ]:
print(df_venues.shape)
df_venues.head()

Here, we look at unique venue categories that can be associated with health and fitness.
<hr>
<strong>Health</strong>: Vegetarian / Vegan Restaurant, Doctor's Office, Pharmacy, Salad Place, Health Food Store, Supplement Shop, Medical Center, Farmers Market, Grocery Store, Supermarket, Organic Grocery, Fruit & Vegetable Store<br>
<strong>Fitness</strong>: Gym / Fitness Center, Gym, Sports Club, Skating Rink, Tennis Court, Athletics & Sports, Basketball Court, Hockey Field, Baseball Field, Climbing Gym, Recreation Center, Bike Rental / Bike Share, Yoga Studio

In [ ]:
df_venues['Venue Category'].unique()